/* ==============================
 	icons
   ============================== */
svg {
  width: 24px;
  height: 24px;
  transition: all .3s ease;
  cursor: pointer;
}
svg:focus,
svg *:focus {
  outline: none;
}
